<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Travel App</title>
    <meta
      content="width=device-width, initial-scale=1, maximum-scale=1"
      name="viewport"
    />
  

  </head>

  <body>
  <div class = "container">

    <!-- Header Part  -->
    <div class="header box">
      <ul class="navbar">
        <li><a href="index.html" class="item">Home</a></li>
       
        <li><a href="#contact_us"class="item" >Contact</a></li>
       
      </ul>
    </div>

    <!-- content part  -->
    <div class="content_home box">
    <form class="search-box" onsubmit="return userInput(event)">
      <label>City:</label>
      <input id="city" type="text" name="input" value="" onblur="onBlur()" placeholder="city">
      <label>Date:</label>
      <input  id="date" type="date"/>
      <input id="button" type="submit" name="" value="submit" onclick="return userInput(event)" onsubmit="return userInput(event)">
    </form>
    

          <div class="cards">


            <!-- card 1  -->
            <div class="card"> 
              <!-- <div class="typography"> -->
               <div class="item_of_card">
                 <img id="image-of-city"class="image_card"  alt=" IMAGE of city">
              </div>
              <h4>Trip info</h4>
                <div class="item_of_card">
                  <h5>city:</h5>
                  <h5 class="city-name"></h5>
                 
                    <!-- <img src="" alt="" class="icon-image" /> -->
                    <h5>Temperature description:</h5>
                      <h5 class="description"></h5>
                      <h5 class="temp"></h5>
                    
               </div>
              <!-- </div> -->
              
             </div>


            
        </div> <!-- End list of cards -->


    </div> <!-- End container box -->

    <!-- footer  -->
    <div class="footer box">
      <footer>&copy; Copyright 2022 </footer>
      <div id="contact_us">
        <p>Author: Ghadeer Alanazi<br>
          <a href="mailto:GhadeerAskarAlanazi@gmail.com">GhadeerAskarAlanazi@gmail.com</a></p>
      </div>
    </div>

    
<!-- End of Container -->
  </div>
 
    <script>
      // Check that service workers are supported
      if ("serviceWorker" in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener("load", () => {
          navigator.serviceWorker.register("/service-worker.js");
        });
      }
    </script>
  </body>
</html>
