
.container{
  
      display:grid; 
 
      
      grid-template-rows: 100px 5fr 1fr;
      background-image: url('../media/background_home.jpg');
      grid-template-areas: 
      "hd "
      "main_H "
      "ft "; 
     
  } 
  
  
  @media(min-width:800px) {
    .container_blog_page{
        
      
      display:grid; 
       grid-template-columns: 300px 300px 300px;
      grid-template-rows: 100px 600px;
      background-image: url('../media/background_home.jpg');
      grid-template-areas: 
      "hd hd hd hd hd hd hd hd"
      "main_H main_H main_H main_H main_H main_H main_H main_H"
      "ft ft ft ft ft ft ft ft"; 
     
        
      } 
  }
  .box{
    
     }
  .header{
    grid-area:hd;
    background-color: black;
  
  }
  .footer{
    grid-area:ft;
  }
  
  .content_home{
    grid-area:main_H;
    background-image: url('../media/background_home.jpg');
  }
  li {
  display: inline;
  margin: 50px;
  }
  .navbar {
  background-color: black;
  height: 30%;
  
  } 
  
  .item{
  color: white;
  }
  
  footer {
  text-align: center;
  background-color: rgb(64, 57, 55);
  color: white;
  } 